:root {
  --hand-color: #e05760;
  --liquid-color: #acd8e1;
  --glass-color: #f6f5f7;
  --border-color: #09aabf;
  --decor-color: #195a94;
  --toothpick-color: #486f7a;
  --text-color: #faffff;
}

.app {
  display: flex;
  align-items: center;
  padding: 32px;
  justify-content: center;
}

#toothpick-path,
#toothpick,
#decor-item {
  transform-origin: center center;
  transform-box: fill-box;
}

#toothpick {
  transform-origin: 40% 40%;
}

#toothpick-path {
  transform-origin: 28% 28%;
}

.cover {
  height: auto;
  min-height: 400px;
  width: auto;
  aspect-ratio: 300 / 469;
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #000000;
  box-shadow: 0 20px 30px rgb(3 169 244 / 19%);
  overflow: hidden;
  --opacity-val: 0;
  --blur-val: 20px;
}
@media (min-width: 768px) {
  .cover {
    height: calc(100dvh - 64px);
  }
}

.cover:before {
  content: '';
  display: block;
  opacity: var(--opacity-val);
  filter: blur(var(--blur-val));
  background-image: url("/cover-ex.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: var(--border-color);
  transform-origin: top; 
  transform: scaleY(var(--border-scale, 0));
}

.hand {
  width: 87.66%;
  position: absolute;
  right: 0;
  bottom: -6px;
  left: 13px;
  z-index: 15;
  color: var(--hand-color);
}

.glass {
  width: 391px;
  color: #f1f1f3;
  position: absolute;
  top: 135px;
  right: 40px;
  z-index: 10;
  transform-origin: bottom center;
}

.liquid {
  width: 278px;
  position: absolute;
  color: #add8df;
  z-index: 15;
  top: 186px;
  right: 96px;
}

#liquid-path {
  transform-origin: center center;
  transform-box: fill-box;
}

.text-effect {
  transform-origin: center;
  transform-box: fill-box;
  --opacity-val: 0;
  --blur-val: 20px;
  opacity: var(--opacity-val);
  filter: blur(var(--blur-val));
}

#glass-path {
  transform-box: fill-box;
  transform-origin: center bottom;
}
